.theFooter{
    height: 8vh;
    width: 100%;
    background: orangered;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}